@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
body{
    margin: 0;
    padding: 0;
    background: black;
    
}
.quote{
    color: #216281;
    font-size: 3rem;
    font-family: 'Libre Franklin', sans-serif;
}
.title{
    color: #216281;
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    display: none;
}


.center {
    margin: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lang{
  position: absolute;
  top:0;
  right: 0;
  padding: .5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted dodgerblue; 
}
.tooltip{
    color:#236787;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2rem;
    cursor: url('./DeathStar.cur'), auto;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #ffffff13;
  color: #216281;
  text-align: center;
  padding: 5px ;
  border-radius: 6px;
  font-family: 'Libre Franklin', sans-serif;
  white-space: nowrap;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 1000%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
